{% extends 'main/base.html' %}

{% block 'title' %}Poll Listings{% endblock %}

{% block 'nav_items' %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/create">Create</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/list">List</a>
  </li>
{% endblock %}


{% block 'content' %}
<main>
    <div class="container pt-5 d-flex-box justify-content-center text-align-center">
      <div data-aos="fade-down" data-aos-duration="3000" class="row">
        <div class="container text-center">
    <h3 class="mb-4">All polls on Votenote</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Created At</th>
          </tr>
        </thead>
        <tbody>
            {% for poll in polls %}
          <tr>
            <th scope="row"><a class="poll-item" href="/poll/{{poll.id}}">{{poll.title}}</a></th>
            <td>{{poll.created_at}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
</div>
</main>
{% endblock %}
